@charset "utf-8";
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
p,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
.banner-container {
  position: relative;
  margin: 0 auto;
  color: white;
  width: 10rem;
  height: 10.6875rem;
  background: url("../img/bg-1.jpg") no-repeat;
  background-size: 100%;
}
.banner-container img {
  display: block;
  width: 3.0625rem;
  height: 1.3125rem;
  position: absolute;
  left: 0.3125rem;
  top: 0;
  border-radius: 0 0 0.3125rem 0;
}
.banner-container span {
  display: inline-block;
  font-size: 0.4375rem;
  font-weight: 200;
  height: 0.46875rem;
  line-height: 0.46875rem;
  margin-top: 0.46875rem;
}
.banner-container input {
  display: block;
  font-size: 0.46875rem;
  border-style: none;
  width: 8.71875rem;
  height: 1.453125rem;
  padding-left: 0.3125rem;
  border-radius: 0.234375rem;
  margin: 0rem auto;
  font-weight: 200;
  box-shadow: 0 0 0.15625rem #000000;
  color: black;
}
.banner-container button {
  position: relative;
  top: 0.3125rem;
  display: block;
  width: 8.71875rem;
  height: 1.453125rem;
  font-size: 0.65625rem;
  margin: 0 auto;
  color: white;
  border-style: none;
  border-radius: 0.234375rem;
  box-shadow: 0 0 0.15625rem #000000;
  background-color: #DE1321;
}
.banner-main {
  width: 10rem;
  height: 3.1875rem;
  position: relative;
  top: 1.8125rem;
  text-align: center;
}
.banner-title {
  display: inline-block;
  height: 1.0625rem;
  line-height: 1.0625rem;
  font-size: 0.375rem;
  padding: 0 0.15625rem;
  border-top: 0.0015625rem solid #ccc;
  border-bottom: 0.0015625rem solid #ccc;
}
.banner-subtitle {
  height: 1.5rem;
  line-height: 1.2;
  margin-top: 0.46875rem;
  font-size: 0.78125rem;
  font-weight: 500;
}
.banner-selling-point {
  width: 10rem;
  height: 0.625rem;
  margin-top: 0.53125rem;
}
.banner-selling-point ul li {
  font-size: 0.4375rem;
  display: inline-block;
}
.banner-selling-point ul li i {
  position: relative;
  top: 0.03125rem;
  margin-right: 0.15625rem;
  display: inline-block;
  width: 0.625rem;
  height: 0.625rem;
  background-size: 130%;
  background-image: url("../img/nike-logo.png");
  background-position: 0 0;
}
.banner-component {
  position: relative;
  margin-top: 3.40625rem;
  width: 10rem;
  height: 3.28125rem;
}
.banner-component-msg {
  font-size: 0.375rem;
  display: block;
  font-style: normal;
  position: absolute;
  right: 0.78125rem;
  top: 0.46875rem;
  color: red;
  font-weight: 200;
}
.resume-container {
  margin: -2px auto;
  color: white;
  width: 10rem;
  height: 8.859375rem;
  background: url("../img/bg-2.png") no-repeat;
  background-size: 100%;
  display: block;
}
.resume-container p {
  display: inline-block;
  margin: 0 auto;
  font-size: 0.515625rem;
  margin-top: 0.78125rem;
  margin-left: 2.5rem;
}
.resume-container p span {
  color: #22FF97;
  font-weight: 300;
}
.resume-container img {
  display: block;
  width: 2.125rem;
  height: 0.75rem;
  margin-top: 0.78125rem;
  margin-right: 0.546875rem;
  float: right;
}
#resume-content {
  width: 6.484375rem;
  font-size: 0.375rem;
  font-weight: 100;
  line-height: 1.8;
  text-align: justify;
}
.teacher-container {
  margin: 0 auto;
  color: white;
  width: 10rem;
  height: 14.625rem;
  background: url("../img/bg-3.png") no-repeat;
  background-size: 100%;
}
.teacher-title {
  width: 7.34375rem;
  height: 1.5625rem;
  font-size: 0.546875rem;
  line-height: 1.09375rem;
  text-align: center;
  margin: -2px auto;
  padding-top: 1.09375rem;
}
.teacher-title span {
  font-weight: 600;
  color: #22FF97;
}
.teacher-description {
  margin-top: 1.296875rem;
  margin-left: 3.90625rem;
}
.teacher-description ul {
  height: 8.75rem;
}
.teacher-description ul li {
  display: block;
  margin-top: -1.25rem;
}
.teacher-description ul li p {
  display: block;
}
.teacher-name {
  font-size: 0.46875rem;
  font-weight: 500;
}
.teacher-name img {
  display: block;
  width: 2.390625rem;
  height: 2.390625rem;
  border-radius: 2.390625rem;
  position: relative;
  top: 2.34375rem;
  right: 2.859375rem;
}
.teacher-experience {
  display: inline-block;
  width: 1.5625rem;
  text-align: center;
  background-color: #22FF97;
  border-radius: 0.15625rem;
  color: black;
  font-size: 0.3125rem;
  font-weight: 200;
  position: relative;
  bottom: 0.046875rem;
}
.teacher-jobtitle {
  font-size: 0.390625rem;
  color: #22FF97;
  font-weight: 200;
}
.teacher-workload {
  font-size: 0.390625rem;
  font-weight: 200;
}
.develop-container {
  background-color: #0E1A29;
  width: 10rem;
  height: 16.40625rem;
  margin: -2px auto;
  color: white;
}
.develop-title {
  display: inline-block;
  width: 6.40625rem;
  height: 1.953125rem;
  font-size: 0.5625rem;
  float: right;
  text-align: right;
  margin-top: 0.9375rem;
  margin-right: 0.53125rem;
  border-right: 0.078125rem solid #22FF97;
  padding-right: 0.234375rem;
}
.develop-title span {
  color: #22FF97;
  font-weight: 500;
}
.develop-content {
  padding-top: 2.296875rem;
  padding-left: 0.828125rem;
}
.develop-dotted-icon {
  position: absolute;
  top: 1.875rem;
  left: -1.3125rem;
}
.develop-dotted-icon img {
  display: inline-block;
  margin-left: 0;
  width: 0.078125rem;
  height: 5.203125rem;
}
.develop-path {
  display: inline-block;
  margin-left: 2.25rem;
  margin-top: 0.078125rem;
  font-size: 0.390625rem;
  position: relative;
}
.develop-path i {
  display: block;
  width: 0.546875rem;
  height: 0.546875rem;
  border-radius: 0.546875rem;
  border: 0.015625rem solid white;
  text-align: center;
  font-size: 0.3125rem;
  font-weight: lighter;
  line-height: 0.546875rem;
  position: relative;
  right: 1.5625rem;
  top: 0.46875rem;
  background-color: #0E1A29;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}
.develop-path ul li {
  padding-top: 0.234375rem;
}
.develop-path ul li p {
  display: inline-block;
  width: 6.25rem;
  line-height: 1.8;
  font-size: 0.359375rem;
  position: relative;
  top: 0.46875rem;
}
.develop-path ul li i:before {
  content: '';
  position: absolute;
  top: -473%;
  left: 32%;
  background: #a09c9c;
  width: 4%;
  height: 2.171875rem;
}
.develop-path ul li i:after {
  content: '';
  position: absolute;
  top: -500%;
  left: 22%;
  background: #a09c9c;
  width: 0.15625rem;
  height: 0.15625rem;
  background-color: white;
  border-radius: 0.15625rem;
}
.develop-descriotion {
  line-height: 1.2;
}
.develop-base-icon {
  width: 1.984375rem;
  height: 1.984375rem;
  border-radius: 1.984375rem;
  background-color: #7449A2;
  text-align: center;
  line-height: 1.984375rem;
  font-size: 0.390625rem;
}
.develop-engineer-icon {
  font-size: 0.390625rem;
  width: 1.984375rem;
  height: 1.984375rem;
  border-radius: 1.984375rem;
  background-color: #22FF97;
  text-align: center;
  color: black;
  padding-top: 0.5rem;
  margin-top: -0.15625rem;
  display: inline-block;
}
.job-container {
  width: 10rem;
  height: 8.125rem;
  margin: 0 auto;
  background: url("../img/bg-5.jpg") no-repeat;
  background-size: 100%;
  color: white;
  font-size: 0.46875rem;
  text-align: center;
  padding-top: 1.40625rem;
}
.job-container ul {
  margin-left: 0.3125rem;
  margin-top: 0.4375rem;
}
.job-container ul li {
  display: block;
  float: left;
  padding-top: 0.3125rem;
  padding-left: 0.15625rem;
}
.job-container ul li img {
  width: 4.421875rem;
  height: 0.9375rem;
  display: block;
}
.job-container span {
  color: #22FF97;
}
.awards-container {
  width: 10rem;
  margin: -1.25rem auto;
  background-color: #171627;
  color: white;
}
.awards-title {
  padding-top: 1.171875rem;
  text-align: center;
  color: #22FF97;
  font-size: 0.546875rem;
  font-weight: 500;
}
.awards-subtitle {
  height: 0.4375rem;
  font-size: 0.390625rem;
  font-weight: 400;
}
.awards-subtitle img {
  display: inline-block;
  width: 1.5625rem;
  height: 0.546875rem;
  margin-left: 0.9375rem;
}
.awards-summary {
  text-align: center;
  font-size: 0.390625rem;
  font-weight: 400;
  margin-top: 0.46875rem;
  color: #22FF97;
}
.awards-icon {
  width: 10rem;
  height: 6.09375rem;
}
.awards-icon ul {
  width: 10rem;
  height: 3.90625rem;
  text-align: center;
  margin-left: -0.15625rem;
}
.awards-icon ul li {
  width: 2.1875rem;
  height: 2.015625rem;
  display: block;
  float: left;
  margin-left: 1.0625rem;
  margin-top: 1.09375rem;
}
.awards-icon ul li img {
  width: 2.015625rem;
  height: 2.015625rem;
  display: block;
}
.awards-icon ul li p {
  display: block;
  width: 2.703125rem;
  height: 1.25rem;
  font-weight: lighter;
  margin-top: 0.734375rem;
  position: relative;
  right: 0.3125rem;
}
.awards-icon ul li p span {
  font-size: 0.71875rem;
}
.awards-content {
  width: 10rem;
  height: 10.984375rem;
  margin: 0 auto;
}
.awards-content ul {
  margin-left: 0.3125rem;
}
.awards-content ul li {
  display: block;
  float: left;
  margin-left: 0.46875rem;
  margin-top: 0.3125rem;
}
.awards-content ul li img {
  width: 3.984375rem;
  height: 2.375rem;
}
.awards-content ul li p {
  font-size: 0.375rem;
  text-align: center;
  font-weight: 400;
  margin-top: 0.21875rem;
}
.footer {
  height: 2.421875rem;
  width: 10rem;
  background-color: #E91A06;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0rem;
  z-index: 999;
}
.footer button {
  display: block;
  width: 8.625rem;
  height: 1.25rem;
  font-size: 0.65625rem;
  margin: 0 auto;
  color: white;
  border-style: none;
  border-radius: 0.234375rem;
  box-shadow: 0 0 0.078125rem #E95F15;
  background-color: #E95F15;
  position: relative;
  top: 0.625rem;
}
