@charset "utf-8";
@divide: 10;
@pswWidth: 640;
@ppr: @pswWidth/@divide/1rem; // 定义单位
@bg: "../img";

@themecolor: #2EAB46;

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}


.homepage-container {
	position:relative;
    margin: 0 auto;
    color: white;
    width: 640/@ppr;
    height: 684/@ppr;
    background: url("@{bg}/bg-1.jpg") no-repeat;
    background-size: 100%;

    img {
        display: block;
        width: 196/@ppr;
        height: 84/@ppr;
        position:absolute;
        left: 20/@ppr;
        top:0;
        border-radius: 0 0 20/@ppr 0;
    }
    span {
        display: inline-block;
        font-size: 28/@ppr;
        font-weight: 200;
        height: 30/@ppr;
        line-height: 30/@ppr;
        margin-top: 30/@ppr;



        i {
            position: relative;
            top: 2/@ppr;
            margin-right: 10/@ppr;
            display: inline-block;
            width: 40/@ppr;
            height: 40/@ppr;
            background-size: 130%;
            background-image:url("@{bg}/nike-logo.png");
            background-position: 0 0;
        }
    }
    input {
        display: block;
        font-size: 30/@ppr;
        border-style: none;
        width: 558/@ppr;
        height: 93/@ppr;
        padding-left: 20/@ppr;
        border-radius: 15/@ppr;
        margin: 0/@ppr auto;
        font-weight: 200;
        box-shadow: 0 0 10/@ppr #000000;
        color: black;
    }
    button {
        position: relative;
        top: 20/@ppr;
        display: block;
        width: 558/@ppr;
        height: 93/@ppr;
        font-size: 42/@ppr;
        margin: 0 auto;
        color: white;
        border-style: none;
        border-radius: 15/@ppr;
        box-shadow: 0 0 10/@ppr #000000;
        background-color: #DE1321;
    }
}

.homepage-title {
    position:relative;
    top:116/@ppr;
    text-align: center;
}

.homepage-title-1{
    display: inline-block;
    height: 68/@ppr;
    line-height: 68/@ppr;
    font-size: 24/@ppr;
    padding: 0 10/@ppr;
    border-top: 0.1/@ppr solid #ccc;
    border-bottom: 0.1/@ppr solid #ccc;
}
.homepage-title-2 {
    height: 48/@ppr;
    line-height: 48/@ppr;
    margin-top: 30/@ppr;
    font-size: 48/@ppr;
    font-weight: 500;
}

.homepage-title-3 {
    height: 48/@ppr;
    line-height: 48/@ppr;
    margin-top: 20/@ppr;
    font-size: 48/@ppr;
    font-weight: 500;
}

.homepage-component{
    position: relative;
    margin-top: 140/@ppr;
}

.homepage-component-error {
    font-size: 24/@ppr;
    display: block;
    font-style: normal;
    position: absolute;
    right: 50/@ppr;
    top: 30/@ppr;
    color: red;
    font-weight: 200;
}

.resume-container {
    margin: -2px auto;
    color: white;
    width: 640/@ppr;
    height: 567/@ppr;
    background: url("@{bg}/bg-2.png") no-repeat;
    background-size: 100%;
    display: block;
    p {
        display: inline-block;
        margin: 0 auto;
        font-size: 33/@ppr;
        margin-top: 50/@ppr;
        margin-left: 160/@ppr;
        span {
            color: #22FF97;
            font-weight: 300;
        }
    }
    img {
        display: block;
        width: 136/@ppr;
        height: 48/@ppr;
        margin-top: 50/@ppr;
        margin-right: 35/@ppr;
        float: right;
    }
}

#resume-content {
    width: 415/@ppr;
    font-size: 24/@ppr;
    font-weight: 100;
    line-height: 1.8;
    text-align:justify;
}



.teacher-container {
    margin: 0 auto;
    color: white;
    width: 640/@ppr;
    height: 936/@ppr;
    background: url("@{bg}/bg-3.png") no-repeat;
    background-size: 100%;
}

.teacher-title {
    width: 470/@ppr;
    height: 100/@ppr;
    font-size: 35/@ppr;
    line-height:70/@ppr;
    text-align: center;
    margin: -2px auto;
    padding-top: 70/@ppr;
    span {
        font-weight: 600;
        color: #22FF97;
    }
}

.teacher-photo {
    width: 153/@ppr;
    float: left;
    margin-top: 120/@ppr;
    img {
        width: 153/@ppr;
        height: 153/@ppr;
        border-radius: 153/@ppr;
        margin-left: 68/@ppr;
        margin-top: 53/@ppr;
    }
}

.teacher-description {
    margin-top: 160/@ppr;
    margin-left: 250/@ppr;
    ul {
        height: 560/@ppr;
        li {
            display: block;
            margin-top: 80/@ppr;

            p {
                display: block;
            }
        }
    }
}

.teacher-name {
    font-size: 30/@ppr;
    font-weight: 500;
}

.teacher-exper-item {
    display: inline-block;
    width: 100/@ppr; 
    text-align: center;
    background-color: #22FF97;
    border-radius: 10/@ppr;
    color: black;
    font-size: 20/@ppr;
    font-weight: 200;
    position: relative;
    bottom: 3/@ppr;
}

.teacher-info1 {
    font-size: 25/@ppr;
    color: #22FF97;
    font-weight: 200;
}

.teacher-info2 {
    font-size: 25/@ppr;
    font-weight: 200;
}


.develop-container{
    background-color: #0E1A29;
    width: 640/@ppr;
    height: 1050/@ppr;
    margin: -2px auto;
    color: white;
}

.develop-title {
    display: inline-block;
    width: 400/@ppr;
    height: 125/@ppr;
    font-size: 36/@ppr;
    float: right;
    text-align: right;
    margin-top: 60/@ppr;
    margin-right: 60/@ppr;
    border-right: 5/@ppr solid #22FF97;
    padding-right: 15/@ppr;
    span {
        color: #22FF97;
        font-weight:500;
    }
}

.develop-content{
    padding-top: 147/@ppr;
    padding-left: 53/@ppr;
}
.develop-dotted-item {
    position: absolute;
    top: 120/@ppr;
    left: -84/@ppr;
    img {
        display: inline-block;
        margin-left: 0;
        width: 5/@ppr;
        height: 333/@ppr;
    }
}

.develop-list {
    display: inline-block;
    margin-left: 144/@ppr;
    margin-top: 5/@ppr;
    font-size: 25/@ppr;
    position: relative; 
    i {
        display: block; 
        width: 35/@ppr;
        height: 35/@ppr;
        border-radius: 35/@ppr;
        border: 1/@ppr solid white;
        text-align: center;
        font-size: 20/@ppr;
        font-weight: lighter;
        line-height: 35/@ppr;
        position: relative;
        right: 100/@ppr;
        top: 30/@ppr;
        background-color: #0E1A29;
        transform: rotate(90deg);
        -ms-transform:rotate(90deg); 	/* IE 9 */
		-moz-transform:rotate(90deg); 	/* Firefox */
		-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
		-o-transform:rotate(90deg); 	/* Opera */
		    }

    
    em {
        display: inline-block;
        width: 10/@ppr;
        height: 10/@ppr;
        background-color: white;
        border-radius: 10/@ppr;
        position: relative;
        bottom: 58/@ppr;
        right:-82/@ppr;
    }
    ul {
        li {
        	padding-top:15/@ppr;
        	p{
        		display:inline-block;
        		width:400/@ppr;
        		line-height:26/@ppr;
        		font-size:23/@ppr;
        		position:relative;
        		top:30/@ppr;
        	}
            span {
            	display:block;
                font-weight: lighter;
                position:relative;
            }
            span:before{
                content: '';
                position: absolute;
			    top: -72%;
			    left:-12%;
			    background: #a09c9c;
			    width: 34%;
			    height: 1px;

            }
        }
    }
}

.develop-base-item {
    width: 127/@ppr;
    height: 127/@ppr;
    border-radius: 127/@ppr;
    background-color: #7449A2;
    text-align: center;
    line-height: 127/@ppr;
    font-size: 25/@ppr;
}

.develop-master-item{
    font-size: 25/@ppr;
    width: 127/@ppr;
    height: 127/@ppr;
    border-radius: 127/@ppr;
    background-color: #22FF97;
    text-align: center;
    color: black;
    padding-top: 32/@ppr;
    margin-top: -10/@ppr;
    display: inline-block;
}

.job-container {
    width: 640/@ppr;
    height: 520/@ppr;
    margin: 0 auto;
    background: url("@{bg}/bg-5.jpg") no-repeat;
    background-size: 100%;
    color: white;
    font-size: 30/@ppr;
    text-align: center;
    padding-top: 90/@ppr;
    ul {

        margin-left: 10/@ppr;
        margin-top: 28/@ppr;
        li {
            display: block;
            float: left;
            padding-top: 20/@ppr;
            padding-left: 10/@ppr;

            img {
                width: 283/@ppr;
                height: 60/@ppr;
                display: block;
            }
        }
    }





    span {
        color: #22FF97;
    }
}

.awards-container {
    width: 640/@ppr; 
    margin: -80/@ppr auto;
    background-color: #171627;
    color: white;

}

.awards-title-1 {
    padding-top:75/@ppr;
    text-align: center;
    color: #22FF97;
    font-size: 35/@ppr;
    font-weight:500;
}

.awards-title-2 {
    height: 28/@ppr;
    font-size: 25/@ppr;
    font-weight:400;


    img {
        display: inline-block;
        width: 100/@ppr;
        height: 35/@ppr;
        margin-left: 60/@ppr;
    }
}

.awards-description {
    font-size: 24/@ppr;
    text-align: center;
    font-weight: 200;
    margin-left: -40/@ppr;
    p {

        display: inline-block;
        margin-left: 53/@ppr;

        span {
            font-size: 46/@ppr;
        }
    }
}

.awards-title-3 {

    text-align: center;
    font-size: 25/@ppr;
    font-weight:400;
    margin-top: 70/@ppr;
    color: #22FF97;
}

.awards-item {
    width: 640/@ppr;
    height: 250/@ppr;
    ul {
        width: 640/@ppr;
        height: 250/@ppr;
        text-align: center;
        margin-left: -10/@ppr;
        li {
            width: 129/@ppr;
            height: 129/@ppr;
            border-radius: 129/@ppr;
            background: pink;
            display: block;
            float: left;
            margin-left: 68/@ppr;
            margin-top: 70/@ppr;
            img {
                width: 129/@ppr;
                height: 129/@ppr;
                display: block;
            }
        }
    }
}

.awards-content {
    width: 640/@ppr;
    height: 675/@ppr;
    margin:0 auto;
    ul {
        margin-left: 20/@ppr;
        li {
            display: block;
            float: left;
            margin-left: 30/@ppr;
            margin-top: 20/@ppr;

            img {
                width: 255/@ppr;
                height: 152/@ppr;
            }
            p {
                font-size: 24/@ppr;
                text-align: center;
                font-weight: 400;
            }
        }
    }
}

.footer {
    height: 155/@ppr;
    width: 640/@ppr;
    background-color: #E91A06;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0/@ppr;
    z-index: 999;
    button {

        display: block;
        width: 552/@ppr;
        height: 80/@ppr;
        font-size: 42/@ppr;
        margin: 0 auto;
        color: white;
        border-style: none;
        border-radius: 15/@ppr;
        box-shadow: 0 0 5/@ppr #E95F15;
        background-color: #E95F15;
        position: relative;
        top: 40/@ppr;
    }
}