@charset "utf-8";
@divide: 10;
@pswWidth: 640;
@ppr: @pswWidth/@divide/1rem; // 定义单位
@bg: "../img";

@themecolor: #2EAB46;

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

p,
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}


.homepage {
    margin: 0 auto;
    color: white;
    width: 640/@ppr;
    height: 684/@ppr;
    background: url("@{bg}/bgg1.jpg") no-repeat;
    background-size: 100%;

    img {
        display: block;
        width: 196/@ppr;
        margin-left: 20/@ppr;
        border-radius: 0 0 20/@ppr 0;
    }
    span {
        display: inline-block;
        font-size: 30/@ppr;
        font-weight:lighter;
        height: 30/@ppr;
        line-height: 30/@ppr;
        margin-top: 40/@ppr;



        i {
            position: relative;
            top: 2/@ppr;
            margin-right: 10/@ppr;
            display: inline-block;
            width: 40/@ppr;
            height: 40/@ppr;
            background-size: 130%;
            background-image:url("@{bg}/nike-logo.png");
            background-position: 0 0;
        }
    }
    input {
        display: block;
        font-size: 30/@ppr;
        border-style: none;
        width: 558/@ppr;
        height: 93/@ppr;
        padding-left: 20/@ppr;
        border-radius: 15/@ppr;
        margin: 0/@ppr auto;
        font-weight: lighter;
        box-shadow: 0 0 10/@ppr #000000;
        color:black;
    }
    button {
        position: relative;
        top: 20/@ppr;
        display: block;
        width: 558/@ppr;
        height: 93/@ppr;
        font-size: 42/@ppr;
        margin: 0 auto;
        color: white;
        border-style: none;
        border-radius: 15/@ppr;
        box-shadow: 0 0 10/@ppr #000000;
        background-color: #DE1321;
    }
}

.top-contend {
    margin-top: 30/@ppr;
    text-align: center; // height: 270/@ppr;
}

.top-title {
    display: inline-block;
    font-size: 25/@ppr;
    padding: 20/@ppr 0;
    border-top: 0.1px solid #ccc;
    border-bottom: 0.1px solid #ccc;
}

.top-middle {
    height: 45/@ppr;
    line-height: 45/@ppr;
    margin-top: 30/@ppr;
    font-size: 45/@ppr;
    font-weight:500;
}

.top-middle2 {
    height: 45/@ppr;
    line-height: 45/@ppr;
    margin-top: 20/@ppr;
    font-size: 45/@ppr;
    font-weight:500;
}

.phone-get {
    position: relative;
    margin-top: 30/@ppr;
}

.phone-number-tip {
    font-size: 25/@ppr;
    display: block;
    font-style: normal;
    position: absolute;
    z-index: 2;

    right: 50/@ppr;
    top: 30/@ppr;
    color: red;
    font-weight: lighter;
}

.resume {
    margin: -1px auto;
    color: white;
    width: 640/@ppr;
    height: 567/@ppr;
    background: url("@{bg}/bg-2.png") no-repeat;
    background-size: 100%;
    display: block;
    p {
        display: inline-block;
        margin: 0 auto; // text-align:center;
        font-size: 33/@ppr;
        margin-top: 50/@ppr;
        margin-left: 160/@ppr;
        span {
            color: #22FF97;
            font-weight: 300;
        }
    }
    img {
        display: block;
        width: 136/@ppr;
        height: 48/@ppr;
        margin-top: 50/@ppr;
        margin-right: 35/@ppr;
        float: right;
    }
}

#resume-contend {
    width: 410/@ppr;
    font-size: 24/@ppr;
    font-weight: 100;
    line-height: 1.8;
}



.teacher {
    margin: 0 auto;
    color: white;
    width: 640/@ppr;
    height: 936/@ppr;
    background: url("@{bg}/bg-3.png") no-repeat;
    background-size: 100%;
}

.teacher-title {
    width: 470/@ppr;
    height: 100/@ppr;
    font-size: 35/@ppr;
    text-align: center;
    margin: -2px auto;
    padding-top: 70/@ppr;
    span {
    	font-weight:600;
        color: #22FF97;
    }
}

.teacher-photo {
    width: 153/@ppr;
    float: left;
    margin-top: 120/@ppr;
    img {
        width: 153/@ppr;
        height: 153/@ppr;
        border-radius: 153/@ppr;
        margin-left: 68/@ppr;
        margin-top: 53/@ppr;
    }
}

.teacher-info {
    margin-top: 160/@ppr;
    margin-left: 250/@ppr;
    ul {
        height: 560/@ppr;
        li {
            display: block;
            margin-top: 80/@ppr;

            p {
                display: block;
            }
        }
    }
}

.teacher-name {
    font-size: 30/@ppr;
    font-weight: bold;
}

.teacher-exper {
	display:inline-block;
    width: 100/@ppr;
    // height: 20/@ppr;
    text-align:center;
    background-color: #22FF97;
    border-radius: 10/@ppr;
    color: black;
    font-size: 20/@ppr;
    font-weight:lighter;
    position:relative;
    bottom:3/@ppr;
}

.teacher-info1 {
    font-size: 25/@ppr;
    color: #22FF97;
    font-weight: lighter;
}

.teacher-info2 {
    font-size: 25/@ppr;
    font-weight: lighter;
}

.skill {
    margin: -2px auto;
    width: 640/@ppr;
    height: 773/@ppr;
    background-color: black;
    color: white;
    video {
        margin: 0 auto;
        width: 640/@ppr;
        height: 512/@ppr;
        background-color: black;
    }
}

.skill-title {
    display: inline-block;
    margin-top: 70/@ppr;
    margin-bottom: 40/@ppr;
    font-size: 37/@ppr;

    span {
        color: #22FF97;
    }
}

.skill-jike {
    display: inline-block;
    width: 190/@ppr;
    height: 100/@ppr;
    background-color: @themecolor;

    img {
        display: block;
        width: 115/@ppr;
        margin: 0 auto;
        padding-top: 30/@ppr;
    }
}

.skill-footer {
    display: inline-block;
    width: 450/@ppr;
    height: 100/@ppr;
    background-color: #7449A2;
    float: right;
    color: black;
    text-align: center;
    padding-top: 26/@ppr;
    font-size: 37/@ppr;
    span {

        color: white;
    }
}


.develop {
    background-color: #0E1A29;
    width: 640/@ppr;
    height: 1050/@ppr;
    margin: 0 auto;
    color: white;
}

.develop-title {
    display: inline-block;
    width: 400/@ppr;
    height: 125/@ppr;
    font-size: 36/@ppr;
    float: right;
    text-align: right;
    margin-top: 60/@ppr;
    margin-right: 60/@ppr;
    border-right: 5/@ppr solid #22FF97;
    padding-right: 15/@ppr;
    span {
        color: #22FF97;
    }
}

.develop-contend {
    padding-top: 147/@ppr;
    padding-left: 53/@ppr;
}

.solid {
    position: absolute;
    top: 120/@ppr;
    left: -84/@ppr;
    z-index: 2;

    img {
        display: inline-block;
        margin-left: 0;
        width: 5/@ppr;
        height: 333/@ppr;
    }
}

.develop-road {
    display: inline-block;
    margin-left: 144/@ppr;
    margin-top: 5/@ppr;
    font-size: 25/@ppr;
    position: relative; // z-index:2;
    i {
        display: block; // vertical-align:middle;
        width: 35/@ppr;
        height: 35/@ppr;
        border-radius: 35/@ppr;
        border: 1/@ppr solid white;
        text-align: center;
        font-size: 30/@ppr;
        font-weight: lighter;
        line-height: 35/@ppr;
        position: relative;
        right: 100/@ppr;
        top: 30/@ppr;
        background-color: #0E1A29;
        transform: rotate(90deg);
    }

    hr {
        margin-left: -50/@ppr;
        width: 150/@ppr;
        display: inline-block;
    }
    em {
        display: inline-block;
        width: 10/@ppr;
        height: 10/@ppr;
        background-color: white;
        border-radius: 10/@ppr;
        position: relative;
        bottom: 10/@ppr;
    }
    ul {
        li {
            // margin-bottom:30/@ppr;
            span {
                font-weight: lighter;
            }
        }
    }
}

.zero-base {
    width: 127/@ppr;
    height: 127/@ppr;
    border-radius: 127/@ppr;
    background-color: #7449A2;
    text-align: center;
    line-height: 127/@ppr;
    font-size: 25/@ppr;
}

.master {
    font-size: 25/@ppr;
    width: 127/@ppr;
    height: 127/@ppr;
    border-radius: 127/@ppr;
    background-color: #22FF97;
    text-align: center;
    color: black;
    padding-top: 32/@ppr;
    margin-top: -10/@ppr;
    display: inline-block;
}

.job {
    width: 640/@ppr;
    height: 520/@ppr;
    margin: 0 auto;
    background: url("@{bg}/bg-5.png") no-repeat;
    background-size: 100%;
    color: white;
    font-size: 30/@ppr;
    text-align: center;
    padding-top: 90/@ppr;
    ul {

        margin-left: 10/@ppr;
        margin-top: 28/@ppr;
        li {
            display: block;
            float: left;
            padding-top: 20/@ppr;
            padding-left: 10/@ppr;

            img {
                width: 283/@ppr;
                height: 60/@ppr;
                display: block;
            }
        }
    }





    span {
        color: #22FF97;
    }
}

.awards {
    width: 640/@ppr;
    height: 1120/@ppr;
    margin: -2px auto;
    background-color: #171627;
    color: white;
}

.awards-title {

    text-align: center;
    color: #22FF97;
    font-size: 35/@ppr;
}

.awards-title2 {
    height: 28/@ppr;
    font-size: 25/@ppr;


    img {
        display: inline-block;
        width: 100/@ppr;
        height: 35/@ppr;
        margin-left: 60/@ppr; // margin-top:30/@ppr;
    }
    
}

.awards-tip {
    margin: 0 auto;
    font-size: 30/@ppr;
    text-align: center;
    font-weight: lighter;
    p {

        display: inline-block;

        span {
            font-size: 40/@ppr;
            font-weight: bold;
        }
    }
}

.awards-tip2 {

    text-align: center;
    font-size: 25/@ppr;
    margin-top: 70/@ppr;
    color: #22FF97;
}

.awards-pic {
    width: 640/@ppr;
    height: 250/@ppr; // text-align:center;
    ul {
        width: 640/@ppr;
        height: 250/@ppr;
        text-align: center;
        margin-left: -10/@ppr;
        li {
            width: 129/@ppr;
            height: 129/@ppr;
            border-radius: 129/@ppr;
            background: pink;
            display: block;
            float: left;
            margin-left: 68/@ppr;
            margin-top: 70/@ppr;
            img {
                width: 129/@ppr;
                height: 129/@ppr;
                display: block;
            }
        }
    }
}

.awards-pic2 {
    width: 640/@ppr;
    height: 520/@ppr;
    ul {
        margin-left: 35/@ppr;
        li {
            display: block;
            float: left;
            margin-left: 30/@ppr;
            margin-top: 20/@ppr;

            img {
                width: 232/@ppr;
                height: 152/@ppr;
            }
            p {
                font-size: 25/@ppr;
                text-align: center;
                font-weight: lighter;
            }
        }
    }
}

.apply {
    height: 155/@ppr;
    width: 640/@ppr;
    background-color: #E91A06;
    margin: 0 auto;
    button {
        // margin:0 auto;
        display: block;
        width: 552/@ppr;
        height: 80/@ppr;
        font-size: 42/@ppr;
        margin: 0 auto;
        color: white;
        border-style: none;
        border-radius: 15/@ppr;
        box-shadow: 0 0 5/@ppr #E95F15;
        background-color: #E95F15;
        position: relative;
        top: 30/@ppr;
    }
}